@use "./../abstracts/" as a;
@use "./../helpers/mixin" as mixin;

.download {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  background-color: a.$color-blue-secondary;
  .download-content {
    @include mixin.flex(row, space-between, center, none);
    padding: 20px 0;
    width: 60%;
    margin: 0 auto;
    .image-download {
      display: flex;
      gap: 5px;
      img {
        height: 40px;
      }
    }
  }
  .text-blue {
    @include mixin.styleText(a.$color-blue-primary, a.$font20, 700);
  }
}

@media screen and (max-width : 750px) {
  .download {
    .download-content {
      display: flex;
      flex-direction: column;
      width: 90%;
      .image-download {
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        margin-top: 10px;
        flex-direction: row-reverse;
        justify-content: flex-end;
        #item1 {
          order: 3;
        }
        #item2 {
          order: 2;
        }
        #item3 {
          order: 1;
        }
      }
    }
    .text-blue {
      @include mixin.styleText(a.$color-blue-primary, a.$font25, 700);
    }
  }
}
