@use "./../abstracts" as a;
@use "./../helpers//mixin" as mixin;

.input-contact {
  background: transparent;
  width: 250px;
  height: 30px;
  flex-shrink: 0;
  border-radius: 3px;
  padding: 8px 10px;
  border: 1px solid a.$color-blue-primary;
  &::placeholder {
    @include mixin.styleText(a.$color-blue-primary, a.$font12, 400);
  }
}

select.input-contact {
  height: 48px;
  width: 272px;
  .text-blue {
    color: a.$color-blue-primary;
    font-size: a.$font12;
  }
}

.search {
  width: 233px;
  height: 20px;
  padding: 8px 10px;
  border: 1px solid a.$color-blue-primary;
  border-radius: 3px;
  &::placeholder {
    @include mixin.styleText(a.$color-blue-primary, a.$font12, 400);
  }
}

