@use "./../abstracts" as a;
@use "./../helpers/mixin" as mixin;

.listgame {
  height: 180px;
  padding: 0 20px;
  @include mixin.flex(row, space-between, center, 40px);
  overflow-x: scroll;
  margin-top: 20px;
  .game-item {
    position: relative;
    img {
      border-radius: 50%;
      padding: 3px;
    }
    p {
      position: absolute;
      bottom: -20%;
      right: -10%;
      z-index: 1;
      @include mixin.styleText(a.$color-blue-primary, a.$font18, 400);
      text-align: center;
      font-family: "Roboto Condensed";
    }
    &.active {
      img {
        border: 3px solid a.$color-blue-primary;
      }
      p {
        font-weight: 600;
      }
    }
  }
}
