@use "./../abstracts" as a;
@use "./../helpers/mixin" as mixin;

.product {
  color: a.$color-white;
  margin-left: 20%;
  padding-top: 25%;
  width: 30%;
  .product-header {
    padding-bottom: 20px;
  }
  .description {
    @include mixin.styleText(a.$color-white,a.$font20,400);
    height: 87px;
    overflow-y: scroll;
  }
  .rating {
    @include mixin.flex(row,flex-start,center,none);
    @include mixin.styleText(a.$color-white,a.$font11,500);
  }
  svg {
    height: 11px;
  }
}

@media screen and (max-width : 750px) {
  .product {
    width: 80%;
    margin-left: 5%;
    padding-top: 25%;
    .product-header {
      padding-bottom: 20px;
    }
    .description {
      @include mixin.styleText(a.$color-white,a.$font20,400);
      height: 87px;
      overflow-y: scroll;
    }
    .rating {
      @include mixin.flex(row,flex-start,center,none);
      @include mixin.styleText(a.$color-white,a.$font11,500);
    }
    svg {
      height: 11px;
    }
  }
}