@use "./../abstracts" as a;
@use "./../helpers/mixin" as mixin;

.slider-focus {
  overflow: hidden;
  .wapper {
    max-width: 100vw;
    width: 100vw;
    overflow: auto;
    scrollbar-width: none;
    &::-webkit-scrollbar {
      display: none;
    }
    .list-card {
      animation: scroll 15s linear infinite;
      display: flex;
      width: calc(430px * 5);
      height: 800px;
      display: grid;
      grid-template-columns: repeat(5, 1fr);
      align-items: center;
      gap: 18px;
    }
  }
  .slide-number {
    @include mixin.flex(row, center, flex-start, 10px);
    margin-top: 20px;
    transition: background-color 3s ease;
    background-color: transparent;
    button {
      @include mixin.styleText(a.$color-blue-primary, a.$font18, 400);
      position: relative;
      border: none;
      background-color: transparent;
      &:hover {
        cursor: pointer;
      }
      &.active {
        border: 2px solid a.$color-blue-primary;
        border-radius: 50%;
      }
    }
  }
}

@keyframes scroll {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(calc(-430px * 1.9));
  }
}

@media screen and (max-width: 750px) {
  @keyframes scroll {
    0% {
      transform: translateX(0);
    }
    100% {
      transform: translateX(calc(-257px * 2.5));
    }
  }

  .slider-focus {
    .wapper {
      max-width: 100vw;
      width: 100vw;
      .list-card {
        animation: scroll 12s linear infinite;
        display: flex;
        width: calc(257px * 5);
        height: 600px;
      }
    }
  }
}
