@use "./../abstracts" as a;
@use "./../helpers/mixin" as mixin;

.image-card {
  background-color: a.$color-blue-secondary;
  width: 650px;
  height: 370px;
  position: relative;
  @include mixin.flex(row,center,center,none);
  .icon-download {
    position: absolute;
    top: 10px;
    right: 10px;
    z-index: 1;
  }
}
