@charset "UTF-8";
.icon {
  position: relative;
  background-color: white;
  border-radius: 50%;
  width: 32px;
  height: 32px;
  line-height: 32px;
  text-align: center;
}
.icon.gray {
  color: #707070;
}
.icon.black {
  color: black;
}
.icon.blue {
  color: #2699FB;
}
.icon.back-shaddow::after {
  content: "";
  background-color: white;
  opacity: 0.4;
  border-radius: 50%;
  width: 43px;
  height: 43px;
  line-height: 50px;
  text-align: center;
  box-shadow: 1px 2px #707070;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: -1;
}
.icon.box-shaddow {
  box-shadow: 1px 2px 2px 3px rgba(0, 0, 0, 0.18);
}

.group-btn {
  position: fixed;
  bottom: 40px;
  right: 5%;
  gap: 5px;
  z-index: 999;
}

.download {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  background-color: #D5ECFF;
}
.download .download-content {
  padding: 20px 0;
  width: 60%;
  margin: 0 auto;
}
.download .download-content .image-download {
  display: flex;
  gap: 5px;
}
.download .download-content .image-download img {
  height: 40px;
}
.download .text-blue {
  color: #2699FB;
  font-size: 20px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}

@media screen and (max-width: 600px) {
  .download-content {
    display: flex;
    flex-direction: column;
  }
  .download-content .image-download {
    display: grid;
    grid-template-columns: repeat(2);
  }
}
.product {
  color: white;
  margin-left: 20%;
  padding-top: 25%;
  width: 30%;
}
.product .product-header {
  padding-bottom: 20px;
}
.product .title {
  font-size: 45px;
  font-weight: 700;
  text-transform: uppercase;
}
.product .description {
  color: white;
  font-size: 20px;
  font-weight: 400;
  height: 87px;
  overflow-y: scroll;
}
.product .rating {
  display: flex;
  align-items: center;
  font-size: 11px;
  font-weight: 500;
}
.product svg {
  height: 11px;
}

.input-contact {
  background: transparent;
  width: 250px;
  height: 30px;
  flex-shrink: 0;
  border-radius: 3px;
  padding: 8px 10px;
  border: 1px solid #2699FB;
}
.input-contact::-moz-placeholder {
  color: #2699FB;
  font-size: 12px;
  font-weight: 400;
}
.input-contact::placeholder {
  color: #2699FB;
  font-size: 12px;
  font-weight: 400;
}

select.input-contact {
  height: 48px;
  width: 272px;
}
select.input-contact .text-blue {
  color: #2699FB;
  font-size: 12px;
}

.flex-between {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  gap: none;
}

.flex-center-vertical {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: none;
}

.form {
  width: 70%;
  color: #2699FB;
}
.form h2 {
  font-size: 25px;
  font-weight: 700;
  color: #2699FB;
}
.form p {
  font-size: 12px;
  font-weight: 400;
  color: #2699FB;
}
.form .form-contact {
  margin-top: 20px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  gap: 15px;
}
.form .checkbox label {
  font-size: 10px;
  font-weight: 400;
  color: #2699FB;
}
.form input[type=checkbox] {
  display: none;
}
.form input[type=checkbox] + *::before {
  content: "";
  display: inline-block;
  vertical-align: bottom;
  width: 0.8rem;
  height: 0.8rem;
  margin-right: 0.3rem;
  border-radius: 10%;
  border-style: solid;
  border-width: 0.1rem;
  border-color: #2699FB;
  flex-shrink: 0;
}
.form input[type=checkbox]:checked + * {
  color: teal;
}
.form input[type=checkbox]:checked + *::before {
  content: "✓";
  color: white;
  text-align: center;
  background: teal;
  border-color: teal;
}
.form .btn-submit {
  align-self: center;
}

.btn-form {
  background-color: transparent;
  padding: 10px 30px;
  border-radius: 3px;
  border: 1px solid #2699FB;
  font-size: 10px;
  font-weight: 400;
  color: #2699FB;
}

/* http://meyerweb.com/eric/tools/css/reset/
   v5.0.2 | 20191019
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
main, menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, main, menu, nav, section {
  display: block;
}

/* HTML5 hidden-attribute fix for newer browsers */
*[hidden] {
  display: none;
}

body {
  font-family: "Montserrat", sans-serif;
}

menu, ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

option {
  min-height: 0;
}

nav {
  position: fixed;
  max-width: 100vw;
  z-index: 999;
  top: 0;
  left: 0;
  width: 100%;
  background-color: #D5ECFF;
}
nav .menu {
  padding: 20px 5%;
  width: 40px;
}
nav .logo {
  padding-left: 20%;
  margin-right: 5px;
  gap: 5px;
}
nav .width-20 {
  width: 20%;
}

@media screen and (max-width: 600px) {
  nav .width-20 {
    width: 50%;
  }
}
.banner {
  background-color: #2699FB;
  width: 100%;
  min-height: 100vh;
  position: relative;
  z-index: 0;
}
.banner .icon-left {
  padding-top: 80px;
}
.banner .icon-center {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.contact {
  min-height: 100vh;
  display: flex;
  align-items: center;
  background: rgba(216, 237, 255, 0.51);
}
.contact .contact-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 60%;
  margin: 0 auto;
}
.contact .contact-content .contact-right {
  width: 50%;
  display: flex;
  justify-content: end;
}/*# sourceMappingURL=index.css.map */