@use "./../helpers/mixin" as mixin;
@use "./../abstracts" as a;

.flex-between {
  @include mixin.flex(row, space-between, center, none);
}

.flex-center-vertical {
  @include mixin.flex(column, center, center, none);
}

h2.title {
  @include mixin.styleText(white,a.$font45,700);
  text-transform: uppercase;
  &.text-blue {
    color: a.$color-blue-primary;
  }
}

.align-center {
  display: flex;
  justify-content: center;
  align-items: center;
}