$color-white : white;
$color-blue-primary : #2699FB;
$color-blue-secondary : #D5ECFF;
$color-black : black;
$color-gray: #707070;
$color-blue-third : #BCE0FD;
$color-shaddow : rgba(0, 0, 0, 0.18);
$color-blue-secondary-05 : rgba(216, 237, 255, 0.51);
